# IM系统配置文件

# Mysql配置
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_CHARSET=

# Redis配置
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=0

# 邮件服务配置
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=

# MongoDB配置
MONGODB_URI=
MONGODB_DATABASE=
MONGODB_COLLECTION=