go 1.24.3

use (
	.
	./internal/services/file-service
	./internal/services/friend-service
	./internal/services/group-service
	./internal/services/message-service
	./internal/services/notification-service
	./internal/services/user-service
)
